.clock-frame-outline {
  width: calc(100vmin - 60px);
  height: calc(100vmin - 60px);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #ddbb99;
}

svg {
  transform: rotate(-90deg);
}

.clock-time-text {
  font-weight: bold;
}
